pipeline/VUS_SIL_GROUP_QLGV.json
{
	"name": "VUS_SIL_GROUP_QLGV",
	"properties": {
		"activities": [
			{
				"name": "Lookup SRC List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT [JOB_SCRIPT] AS [SRC_LIST], [SOURCE_TABLE] AS [SRC_TBL], [TARGET_TABLE] AS [TGT_TBL] \nFROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SIL' and JOB_SUB_GROUP ='SIL - QLGV'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DWH_SYNAPSE_STAGING",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "ADF.ETL_JOB"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup SRC List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SRC List').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Source Script",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Source_Script",
								"value": {
									"value": "@{Item().SRC_LIST}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SIL Store Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set Target Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@variables('Source_Script')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_target_table": {
										"value": {
											"value": "@variables('Target_Table')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_DWH_SYNAPSE_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set Target Table",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Source Script",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Target_Table",
								"value": {
									"value": "@{Item().TGT_TBL}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 6,
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "19000101"
			},
			"TGT_TABLE": {
				"type": "string"
			}
		},
		"variables": {
			"Source_Script": {
				"type": "String"
			},
			"Target_Table": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-08T11:15:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}